[Unit]
Description=Log Parser Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/CheckPoint-LogParser
ExecStart=/usr/bin/python3 /root/CheckPoint-LogParser/log_parser.py
Restart=always

[Install]
WantedBy=multi-user.target
