[Unit]
Description=Log Parser Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/log_parser
ExecStart=/usr/bin/python3 /root/log_parser/log_parser.py
Restart=always

[Install]
WantedBy=multi-user.target
