[Unit]
Description=TTYD
After=syslog.target
After=network.target

[Service]
ExecStart=/opt/ttyd -i 127.0.0.1 login
Type=simple
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target